.container-amazon-feed-carousel
{

    padding: 1em;
background-color: white;
}


.amazon-feed-carousel {


  overflow: hidden;
  position: relative;
  display: block;


}


.amazon-feed-carousel .btn-scroll {
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  .amazon-feed-carousel:hover .btn-scroll {
    opacity: 1;
  }

.amazon-feed-carousel .items-list {
  background-color: white;
  display: flex;
  height: 100%;
  position: absolute;
  left: 0;
  transition: all ease 0.6s;
  /* width: 100%; */
}

.amazon-feed-carousel .items-list img {
  object-fit: contain;
  margin: 0 10px;
}

.amazon-feed-carousel .scroll-left-btn svg,
.amazon-feed-carousel .scroll-right-btn svg {
  font-size: 3em;
  color: #5d6771;
}

.amazon-feed-carousel .scroll-left-btn,
.amazon-feed-carousel .scroll-right-btn {
  height: 8em;
  width: 4em;
  background: white;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8dc6ce;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.amazon-feed-carousel .scroll-left-btn {
    border-left: none;
}

.amazon-feed-carousel .scroll-right-btn {
  right: 0;
  border-right: none;
}



.amazon-feed-carousel .carousel-bar-container
{


  z-index: 100;
  position: absolute;
  /* margin-bottom: 10px; */
  width: 100%;
  bottom: 0;
height: 10px;

}




.amazon-feed-carousel .carousel-bar-container .carousel-bar
{

  position: absolute;
  left:0;

  height: 10px;
  background: #c7d2d6;

height: 100%;
  
}