#header-container {
  background-color: #141921;
  display: flex;
}

#header-container * {
}

.shiping-address-container *,
.search-category-selector .label {
  color: white;
}

#header-left {
}

#header-left img {
  width: 7em;
}

#header-center {
  flex: 1;
  display: flex;
}

#header-right {
  display: flex;
  justify-content: flex-end;
}

#header-container .header-column {
  padding: 0.4em;
  display: flex;
  align-items: center;
}

#header-container .header-column > a {
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 10px;
  height: 100%;
  flex-direction: column;
  display: inline-flex;
  justify-content: center;
  margin: 0 10px;
  text-decoration: none;
  position: relative;
}

#header-container .header-column > a:hover {
  border: 1px solid white;
}

#header-container .header-column .shiping-address-container p {
  padding: 0;
  margin: 0;
}

#header-container .header-column .shiping-address-container p.shipping-address {
  font-weight: bold;
}

#header-container
  .header-column
  .shiping-address-container
  p.shipping-address-send-to {
  font-size: 0.8em;
  text-align: center;
  color: white;
  font-weight: 600;
}

#header-searchbar {
  flex: 1 1;
  height: 80%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow-y: hidden;
}

#header-searchbar .search-button {
  background-color: #febd69;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.7em;
}

#header-searchbar .search-button .iconsearch {
}

#header-searchbar .search-category-selector {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  height: 100%;
  padding: 8px;
  border-right: 1px solid #cdcdcd;
  cursor: pointer;
  position: relative;
}

#header-searchbar .search-category-selector .categories_list {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

#header-searchbar .search-category-selector:hover {
  background-color: #d6c8c8;
}

#header-searchbar input {
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  background: white;
  color: #111;
  flex: 1;
}

#header-searchbar .search-category-selector .label {
  color: #333333;
  font-size: 0.75em;
  font-weight: 500;
}

#header-searchbar .search-category-selector:hover .label {
  color: #272626;
}

#header-searchbar .search-category-selector .icondown {
  font-size: 0.8em;
  color: #666666;
  margin-left: 5px;
}

#header-searchbar .search-category-selector:hover .icondown {
  color: #383636;
}

#header-searchbar .iconsearch {
  font-size: 1.5em;
  color: #333333;
}

#header-container .header-column > a.language-selector {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}

#header-container .header-column > a.language-selector::after {
}

#header-container .header-column > a.hasfloatmenu {
}

#header-container .header-column > a.hasfloatmenu::after {
  content: "";
  display: block;
  position: absolute;
  right: 9px;
  bottom: -5px;
  background-color: #ffffff;
  width: 7px;
  height: 7px;
  border: 1px solid #bbb;
  border-right: 1px solid rgba(187, 187, 187, 0);
  border-bottom: 1px solid rgba(187, 187, 187, 0);
  z-index: 100;
  transform: rotate(45deg);
  display: none;
}

#header-container .header-column > a.hasfloatmenu:hover::after {
  display: block;
}

#header-container .header-column > a.language-selector:hover::after {
  display: block;
}

#header-container
  .header-column
  > a.language-selector:hover
  #floating-language-selector {
  display: block;
}

#header-container .header-column > a.language-selector .icondown {
  margin-left: 5px;
  color: #a7acb2;
  font-size: 0.8em;
}

#header-container .header-column > .myaccount-hello-message {
}

#header-container .header-column > .myaccount-hello-message .hellomessage {
  color: white;
  font-size: 0.8em;
  font-weight: 600;
}

#header-container .header-column > .myaccount-hello-message .account-link {
}

#header-container
  .header-column
  > .myaccount-hello-message
  .account-link
  .icondown {
  margin-left: 5px;
  color: #a7acb2;
  font-size: 0.8em;
}

#header-container
  .header-column
  > .myaccount-hello-message
  .account-link
  > span {
  color: white;
  font-size: 1em;
  font-weight: bold;
}

#header-navbar {
  background-color: #232f3e;
  display: flex;
  padding: 5px;
  position: relative;
}

#header-navbar .nav-right,
#header-navbar .nav-left {
  flex: 1 1;

  display: flex;
  align-items: center;
}

#header-navbar .nav-right {
  justify-content: flex-end;
}

#header-navbar .nav-right .add-product-icon {
  color: white;
  margin-right: 10px;
}

#header-navbar .nav-right a,
#header-navbar .nav-left a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5px 12px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  text-decoration: none;
}

#header-navbar .nav-left a.hamburger-menu {
  padding: 5px 7px;
}

#header-navbar .nav-left a .icondown {
  color: #959595;
  margin-left: 4px;
}

#header-navbar .nav-right a:hover,
#header-navbar .nav-left a:hover {
  border: 1px solid white;
}

#header-navbar  .iconbars {
  color: white;
font-size: 18px;;


}

#header-navbar .nav-right span,
#header-navbar .nav-left a span {
  color: white;
  font-weight: bold;
  font-size: 0.9em;
}

#amazoncart {
}

#amazoncart::after {
}

#amazoncart .left-cart {
  background-image: url("http://localhost:3000/assets/sprites.png");
  background-repeat: repeat-x;
  background-position: -10px -340px;
  width: 40px;
  height: 26px;
  display: flex;
  justify-content: center;
}

#amazoncart .left-cart .total-items {
  color: orange;
  margin-left: 4px;
  transform: translateY(-8px);
  display: block;
  font-size: 0.9em;
  font-weight: bold;
}

#amazoncart .center-cart {
}

#amazoncart .right-cart {
}


.amazon-button-menu.browsinghistory
{

margin-left: 20px;

}