#sidemenu {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 24em;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  transition: all ease 0.3s;
}

#container-side-menus
{

    flex: 1;
    overflow: hidden;
    position:  relative;

}


#sidemenu-bg-transparent {
  position: absolute;
  z-index: 9;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.3s;
}

#sidemenu-bg-transparent.opened {
  opacity: 1;
  pointer-events: all;
}

#sidemenu.opened {
  opacity: 1;
  pointer-events: all;
}

#sidemenu .icon-close-sidemenu {
  position: absolute;
  left: 13em;
  color: white;
  font-size: 30px;
  top: 12px;
  z-index: 30;
  cursor: pointer;
}

#sidemenu .navigation-drawer {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -500px;
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;
}

#sidemenu.opened .navigation-drawer {
  left: 0;
}

#sidemenu .navigation-drawer .header-user {
  background-color: #232f3e;
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-right: 0.5em;
  padding: 10px 20px 10px 40px;
  position: relative;
}

#sidemenu .navigation-drawer .header-user .icon-user.svg-inline--fa {
  color: #232f3e;
  width: 1.7em;
  height: 1.7em;
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  background: white;
}

#sidemenu .navigation-drawer .header-user a {
  font-weight: 900;
  color: white;
  font-size: 1.3em;
  text-decoration: none;
  margin-left: 0.4em;
}

#sidemenu .navigation-drawer .menu-content {
    overflow-y: auto;
    padding-top: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease 0.6s;
}

#sidemenu .navigation-drawer .menu-content.sub-categories
{

    left: 100%;

}


#sidemenu .navigation-drawer .menu-content.main.opened-subcategories,
#sidemenu .navigation-drawer .menu-content.sub-categories.opened-subcategories 
{

    transform: translateX(-100%);

}




#sidemenu .navigation-drawer .menu-content.subcategories {
}

#sidemenu .navigation-drawer .menu-content .navigation-drawer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: all ease 0.5s;
  overflow: hidden;
}


#sidemenu .navigation-drawer .menu-content .navigation-drawer-menu.sub-categories
{
/*
    position: absolute;
    width: 100%;
    background-color: white;
    top: 0;
    left:0;
    left: 100%;
    */

}


#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu.remain-categories-list.expanded {
  max-height: 100%;
}

#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu.remain-categories-list {
  max-height: 0;
}

#sidemenu .navigation-drawer .menu-content .navigation-drawer-menu li {
  display: flex;
}

#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu
  li.list-divisor::after {
  content: "";
  background-color: #d5dbdb;
  height: 1px;
  width: 100%;
}

#sidemenu .navigation-drawer .menu-content .navigation-drawer-menu li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 40px;
  text-decoration: none;
  flex: 1;
}

#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu
  li.title-sub-categories-menu
  a {
  justify-content: flex-start;
  cursor: pointer;
}





#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu
  li.title-sub-categories-menu
  a
  span {
  margin-left: 12px;
  font-weight: bold;
}

#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu
  li.list-settings
  a {
  justify-content: flex-start;
}

#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu
  li.list-settings
  span {
  margin-left: 12px;
}

#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu
  li.see-all-button
  a {
  justify-content: flex-start;
}

#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu
  li.see-all-button
  a
  .icon-open-submenu {
  margin-left: 1em;
}

#sidemenu .navigation-drawer .menu-content .navigation-drawer-menu li a:hover {
  background-color: rgb(225, 233, 238);
}

#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu
  li
  a:hover
  .icon-open-submenu {
  color: #111;
}

#sidemenu .navigation-drawer .menu-content .navigation-drawer-menu .title-menu {
  font-size: 1.3em;
  font-weight: 700;
  color: #111;
  padding: 10px 20px 10px 40px;
}

#sidemenu .navigation-drawer .menu-content .navigation-drawer-menu span {
  color: #111;
}

#sidemenu
  .navigation-drawer
  .menu-content
  .navigation-drawer-menu
  .icon-open-submenu {
  color: #879596;
}
